[submodule "liquid-fixpoint"]
	path = liquid-fixpoint
	url = https://github.com/Alf0nso/liquid-fixpoint
[submodule "ghc-options"]
	path = ghc-options
	url = https://github.com/ranjitjhala/ghc-options.git
