dist
cabal-dev
.hsenv
*.md
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*.a
*.cmxa
*.cm[oxai]
*.annot
*.vmap
*.di?
*.native
*.fqout
*.out
*.fq
*.annot
*.cgi
*.log
*.html
*.pyc
build.sh
config.make
*.scalarlog
*.tags
_build
*~
*.swp
*.swo

TAGS
a.out
*.json
js/
css/

*.smt2
/tests/crash/liquid.css
