dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*.a
*.cmxa
*.cm[oxai]
*.annot
*.vmap
*.di?
*.native
*.out
*.fq
*.annot
*.cgi
*.log
*.html
*.pyc
build.sh
config.make
*.scalarlog
*.tags
_build
*~
*.swp
TAGS
a.out
*.json
js/
css/

