language: c

branches:
  only:
    - master
    - multiparams

cache:
  apt: true
  directories:
  - $HOME/.cabal
  - $HOME/.ghc

env:
 - GHC="7.8.4"  CABAL="1.18" SMT=z3   TESTS=Unit/pos
 - GHC="7.8.4"  CABAL="1.18" SMT=z3   TESTS=Unit/neg
 - GHC="7.8.4"  CABAL="1.18" SMT=z3   TESTS=Unit/crash
 - GHC="7.8.4"  CABAL="1.18" SMT=z3   TESTS=Benchmarks/text
 - GHC="7.8.4"  CABAL="1.18" SMT=z3   TESTS=Benchmarks/bytestring
 - GHC="7.8.4"  CABAL="1.18" SMT=z3   TESTS=Benchmarks/esop
 - GHC="7.8.4"  CABAL="1.18" SMT=z3   TESTS=Benchmarks/vect-algs
 # - GHC="7.8.4"  CABAL="1.18" SMT=cvc4 TESTS=Unit/pos
 # - GHC="7.8.4"  CABAL="1.18" SMT=cvc4 TESTS=Unit/neg
 # - GHC="7.8.4"  CABAL="1.18" SMT=cvc4 TESTS=Unit/crash
 - GHC="7.8.4"  CABAL="1.18" SMT=z3   TESTS=Benchmarks/icfp_pos
 - GHC="7.8.4"  CABAL="1.18" SMT=z3   TESTS=Benchmarks/icfp_neg

 - GHC="7.10.2" CABAL="1.22" SMT=z3   TESTS=Unit/pos
 - GHC="7.10.2" CABAL="1.22" SMT=z3   TESTS=Unit/neg
 - GHC="7.10.2" CABAL="1.22" SMT=z3   TESTS=Unit/crash
 - GHC="7.10.2" CABAL="1.22" SMT=z3   TESTS=Benchmarks/text
 - GHC="7.10.2" CABAL="1.22" SMT=z3   TESTS=Benchmarks/bytestring
 - GHC="7.10.2" CABAL="1.22" SMT=z3   TESTS=Benchmarks/esop
 - GHC="7.10.2" CABAL="1.22" SMT=z3   TESTS=Benchmarks/vect-algs
 # - GHC="7.10.2" CABAL="1.22" SMT=cvc4 TESTS=Unit/pos
 # - GHC="7.10.2" CABAL="1.22" SMT=cvc4 TESTS=Unit/neg
 # - GHC="7.10.2" CABAL="1.22" SMT=cvc4 TESTS=Unit/crash
 - GHC="7.10.2" CABAL="1.22" SMT=z3   TESTS=Benchmarks/icfp_pos
 - GHC="7.10.2" CABAL="1.22" SMT=z3   TESTS=Benchmarks/icfp_neg

 # ugh... Classify.hs is too slow and makes travis think the build is stalled
 # - TESTS=hscolour

before_install:
 - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
 - travis_retry sudo apt-get update
 - travis_retry sudo apt-get install cabal-install-$CABAL ghc-$GHC ocaml camlidl
 - export PATH="$HOME/.cabal/bin:/opt/ghc/$GHC/bin:/opt/cabal/$CABAL/bin:$PATH"
 - scripts/travis clean_cache "$SMT"
 - scripts/travis clone_fixpoint

install:
 - scripts/travis install_cabal_deps
 - scripts/travis install_smt "$SMT"

script:
 - scripts/travis do_build && scripts/travis do_test "$TESTS" "$SMT" && scripts/travis test_source_pkg
 - scripts/travis clean_cache "$SMT"

after_failure:
 - scripts/travis dump_fail_logs

