---
version: 2.1

commands:
  setup_project:
    description: "Setup the machine, clone the repo, checkout the submodules."
    steps:
      - run: sudo apt-get update && DEBIAN_FRONTEND=noninteractive sudo apt-get install -yq curl git ssh unzip wget libtinfo-dev gcc make
      - run:
          name: Install z3
          command: |
            # Config version
            z3version="z3-4.8.17"
            z3distributiontype="x64-glibc-2.31"
            z3full="${z3version}-${z3distributiontype}"

            # Download and install
            wget    "https://github.com/Z3Prover/z3/releases/download/${z3version}/${z3full}.zip"
            unzip   "${z3full}.zip"
            rm -f   "${z3full}.zip"
            sudo cp "${z3full}/bin/libz3.a" /usr/local/lib
            sudo cp "${z3full}/bin/z3"      /usr/local/bin
            sudo cp "${z3full}/include/"/*  /usr/local/include
            rm -rf  "${z3full}"
            z3 --version

      - checkout
      - add_ssh_keys
      - run: git submodule sync
      - run: git submodule update --init

  cabal_build_and_test:
    description: "Build the project and run the tests"
    parameters:
      ghc_version:
        type: string
      extra_test_flags:
        type: string
        default: ""
      ghc_options:
        type: string
        default: "--ghc-options=\"+RTS -M2G -RTS\""
    steps:
      - setup_project
      - run: git ls-tree HEAD liquid-fixpoint > liquid-fixpoint-commit
      - run:
          name: Configure the build
          command: |
            wget https://downloads.haskell.org/~ghcup/x86_64-linux-ghcup
            chmod +x ./x86_64-linux-ghcup
            ./x86_64-linux-ghcup install ghc << parameters.ghc_version >>
            ./x86_64-linux-ghcup set ghc << parameters.ghc_version >>
            ./x86_64-linux-ghcup install cabal 3.12.1.0
            export PATH=~/.ghcup/bin:$PATH
            echo 'export PATH=~/.ghcup/bin:$PATH' >> $BASH_ENV
            cabal update
            cabal configure --enable-tests
            cabal build all --dry-run
      - restore_cache:
          keys:
            - cabal-cache-v9-{{ checksum "dist-newstyle/cache/plan.json" }}
      - run:
          name: Dependencies
          command: |
            cabal build -j --only-dependencies liquidhaskell-boot
      - save_cache:
          key: cabal-cache-v9-{{ checksum "dist-newstyle/cache/plan.json" }}
          paths:
            - ~/.local/state/cabal/store
            - dist-newstyle
      - run:
          name: Test
          command: |
            mkdir -p /tmp/junit/cabal
            LIQUID_CABAL_PROJECT_FILE=cabal.project scripts/test/test_plugin.sh
            cabal test tests:tasty
            (cabal test -j1 liquidhaskell-boot --flag devel --test-show-details=streaming --test-options="--xml=/tmp/junit/cabal/parser-test-results.xml")
          no_output_timeout: 30m

      - run:
          name: Test building the profiling driver
          command: |
            cabal build --enable-profiling --flag devel scripts/profiling-driver

  stack_build_and_test:
    description: "Build and test the project using Stack"
    parameters:
      stack_yaml_file:
        type: string
        default: "stack.yaml"
      extra_test_flags:
        type: string
        default: ""
      extra_build_flags:
        type: string
        default: ""
    steps:
      - run: sudo apt-key adv --keyserver keyserver.ubuntu.com --recv 8B1DA6120C2BF624
      - setup_project
      - run: git ls-tree HEAD liquid-fixpoint > liquid-fixpoint-commit
      - restore_cache:
          keys:
            - stack-cache-v1-{{ checksum "<< parameters.stack_yaml_file >>" }}-{{ checksum "liquidhaskell-boot/liquidhaskell-boot.cabal" }}-{{ checksum "liquidhaskell.cabal" }}-{{ checksum "liquid-fixpoint-commit" }}
            - stack-cache-v1-{{ checksum "<< parameters.stack_yaml_file >>" }}-{{ checksum "liquidhaskell-boot/liquidhaskell-boot.cabal" }}-{{ checksum "liquidhaskell.cabal" }}
            - stack-cache-v1-{{ checksum "<< parameters.stack_yaml_file >>" }}
      - run:
          name: Dependencies
          command: |
            wget -qO- https://get.haskellstack.org/ | sudo sh
            stack --no-terminal --stack-yaml << parameters.stack_yaml_file >> setup
            stack --no-terminal --stack-yaml << parameters.stack_yaml_file >> build -j4 --only-dependencies --test --no-run-tests << parameters.extra_build_flags >>
      - save_cache:
          key: stack-cache-v1-{{ checksum "<< parameters.stack_yaml_file >>" }}-{{ checksum "liquidhaskell-boot/liquidhaskell-boot.cabal" }}-{{ checksum "liquidhaskell.cabal" }}-{{ checksum "liquid-fixpoint-commit" }}
          paths:
            - ~/.stack
            - ./.stack-work
      - run:
          name: Test
          command: |
            stack --no-terminal --stack-yaml << parameters.stack_yaml_file >> clean
            mkdir -p /tmp/junit/stack
            # the -package-db and -package arguments help work around https://github.com/commercialhaskell/stack/issues/6251
            stack --no-terminal --stack-yaml << parameters.stack_yaml_file >> build liquidhaskell-boot
            stack --no-terminal --stack-yaml << parameters.stack_yaml_file >> build liquidhaskell --ghc-options="\"-package-db $(stack path --snapshot-pkg-db)\"" --ghc-options="\"-package-db $(stack path --local-pkg-db)\"" --ghc-options="\"-package liquidhaskell-boot\""
            stack --no-terminal --stack-yaml << parameters.stack_yaml_file >> run test-driver -- -- --ghc-options="\"-package-db $(stack path --snapshot-pkg-db)\"" --ghc-options="\"-package-db $(stack path --local-pkg-db)\"" --ghc-options="\"-package liquidhaskell\""
            stack --no-terminal --stack-yaml << parameters.stack_yaml_file >> test tests:tasty --ghc-options="\"-package-db $(stack path --snapshot-pkg-db)\"" --ghc-options="\"-package-db $(stack path --local-pkg-db)\"" --ghc-options="\"-package liquidhaskell\""
            stack --no-terminal --stack-yaml << parameters.stack_yaml_file >> test -j1 liquidhaskell-boot << parameters.extra_build_flags >>
          no_output_timeout: 30m
      - run:
          name: Generate haddock
          command: |
            # stack haddock liquidhaskell --flag liquidhaskell:-devel --no-haddock-deps --haddock-arguments="--no-print-missing-docs --odir=$CIRCLE_ARTIFACTS"
            # skip if extra_build_flags are set--ghc-options
            [ ! -z "<< parameters.extra_build_flags >>" ] || stack --no-terminal --stack-yaml << parameters.stack_yaml_file >> haddock << parameters.extra_build_flags >> liquidhaskell  --no-haddock-deps --haddock-arguments="--no-print-missing-docs"
      - run:
          name: Dist
          command: |
            # skip if extra_build_flags are set
            [ ! -z "<< parameters.extra_build_flags >>" ] || stack --no-terminal --stack-yaml << parameters.stack_yaml_file >> sdist

jobs:

  # Not used in workflows below at the moment, because stack doesn't
  # support GHC 9.10 yet.
  stack_900:
    machine:
      image: default
    steps:
        - stack_build_and_test:
            stack_yaml_file: "stack.yaml"
            extra_build_flags: "--flag liquidhaskell-boot:devel"
  cabal_9101:
    machine:
      image: default
    steps:
      - cabal_build_and_test:
          ghc_version: "9.10.1"

workflows:
  version: 2
  build_stack_and_cabal:
    jobs:
      - cabal_9101
