
.hs-keyglyph {
  color: #007020
}

.hs-keyword {
  color: #007020;
  font-weight: bold;
}

.hs-comment, .hs-comment a {color: green;}

.hs-str, .hs-chr {color: teal;}

.hs-conid { 
  color: #902000;
  /* color: #00FFFF; 
     color: #0E84B5; */
  /* font-weight: bold; */ 
}
 

.hs-definition { 
  color: #06287E 
  /* font-weight: bold; */ 
}

.hs-varid, .hs-varop, .hs-layout {
  color: black; 
}

.hs-num {
  color: #40A070;
}

.hs-conop {
  color: #902000; 
}

.hs-cpp {
  color: orange;
}

.hs-sel  {}

a.annot {
    position:relative; 
    color:#000;
    text-decoration:none
}

a.annot:hover { 
  z-index:25; 
  background-color: #D8D8D8;
}

a.annot span.annottext{display: none}

a.annot:hover span.annottext{ 
  
  border-radius: 5px 5px;
  
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 

  white-space:nowrap;
  display:block;
  position: absolute; 
  left: 1em; top: 2em; 
  z-index: 99;
  margin-left: 5; 
  background: #FFFFAA; 
  border: 2px solid #FFAD33;
  padding: 0.8em 1em;
}
