/* Hacking the logo */
.md-header__button.md-logo img, .md-header__button.md-logo svg, .md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
    width: auto;
    height: 2rem;
}

/* Hacking the navbar */
#demo {
    background-color: green;
    border-radius: 0.5rem;
}

.md-tabs__list {
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns:1fr;
    text-align: center;
}

.md-tabs__list > .md-tabs__item > * > * {
    padding: 0.3rem;
}


/* Hacking the main panel (to fix tooltip truncation) */
.md-content {
    overflow: visible;
}

/* Sytling the splashpage */

.example-row {
    display: flex;
    align-items:center; /* also forces aspect ratio preservation */
}

.example-row > img {
    margin: 1rem;
    max-width: 65%; /* Don't let images hog *too* much space */
}
