<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>LiquidHaskell · Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <style>
      .warningmessage {
        white-space: pre;
        font-family: monospace;
      }

      .welleditor {
        height: 400px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      }

      .typeToolTip {
        z-index:25; 
        background-color: #D8D8D8;
        border-radius: 5px 5px;
        
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px; 
        
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
        -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 

        font-family: 'Monaco', 
                     'Menlo',
                     'Ubuntu Mono', 
                     'Consolas',
                     'source-code-pro', 
                     monospace;

        font-size: 12px;
                   
        white-space: pre;
        display:block;
        position: fixed; 
        left: 1em; top: 2em; 
        z-index: 99;
        margin-left: 5; 
        background: #FFFFAA; 
        border: 2px solid #FFAD33;
        padding: 0.8em 1em;
      }


    </style>
      
    <!-- Le styles -->
    <link href="css/bootstrap-readable.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/bootswatch.css" rel="stylesheet">
    <link href="syntax/liquid.css" type='text/css' rel="stylesheet">
    <script src="js/jquery/jquery-1.7.1.min.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
  </head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" ng-controller="LiquidDemoCtrl">

  <!-- Navbar ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <div class="nav-collapse collapse">
          <ul class="nav">
            
            <li class="active">
                <a href="./index.html">Demo</a>
            </li>
            
            <li class="">
                <a href="https://github.com/ucsd-progsys/liquidhaskell">Code</a>
            </li>
   
            <li class="">
                <a href="http://goto.ucsd.edu/~rjhala/liquid/haskell/blog/about/">About</a>
            </li>


            <li class="">
               <a href="http://goto.ucsd.edu/~rjhala/liquid/haskell/blog/">Blog</a>
            </li>
          
          </ul>
          </div>
        </div>
      </div>
    </div>


    <!-- SubTitle ================================================== -->
           
   <header class="jumbotron subhead" id="overview">
     <div class="container">
         <h1>LiquidHaskell</h1>
         <p class="lead">Refinement Types via SMT and Predicate Abstraction</p>
     </div>
   </header>

   
   <!-- Actual Body ================================================== -->
   
   <div class="container-fluid">
     <div class="row-fluid">
       <div class="span2">
       <!--Sidebar content-->
       <ul class="nav nav-list">

         <!-- TODO
         <li class="nav-header">New</li>
         <li><a href="#">Load File</a></li>
         -->

         <li class="nav-header">Basics</li>
         <li ng-repeat="demo in basicDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>

         <li class="nav-header">Datatype Measures</li>
         <li ng-repeat="demo in measureDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>
         
         <li class="nav-header">Abs. Refinements</li>
         <li ng-repeat="demo in abstRefDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>


         <li class="nav-header">HOPA Tutorial</li>
         <li ng-repeat="demo in tutorialDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>

       </ul>
     </div>
     
     <div class="span10">

        <!-- Body content =========================================-->

       <div class="tabbable"> <!-- Only required for left/right tabs -->
         <ul class="nav nav-tabs">
           <li class="active"><a href="#tabSrc" data-toggle="tab">Haskell Source</a></li>
           <li><a href="#tabQuals" data-toggle="tab">Qualifiers</a></li>
           <li ng-show="outReady"><a href="#tabOut" data-toggle="tab">Result</a></li>
           <!-- <li ng-show="outReady"><a href="#tabLog" data-toggle="tab">Log</a></li>
           -->

         </ul>
         
         <div class="tab-content">
           
           <div class="tab-pane active" id="tabSrc">
             
             <div ng-show="isError" class="alert alert-block" ng-repeat="warn in warns">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Error:</strong> 
                 <div class="warningmessage">{{warn}}</div>
             </div>

             <div ng-show="isUnsafe" class="alert alert-error" ng-repeat="warn in warns">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Unsafe!</strong>
                 <div class="warningmessage">{{warn}}</div>
             </div>

            <!-- <div class="alert alert-error" ng-repeat="warn in warns">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Warning!</strong> {{warn}}
             </div>
             -->

             <div ng-show="isCrash" class="alert alert-block">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Crash!</strong> Uh oh, there was a crash. See the <a href="log">the log</a>.
             </div>

             <div id="program-pane" class="welleditor" style="background:#fff">

               <button class="btn btn-info" type="button" ng-show="isUnknown" 
                 ng-click="verifySource()">Verify</button>
               
               <button class="btn" type="button" ng-show="isChecking"
                   ng-click="verifySource()">Verifying...</button>
               
               <button class="btn btn-success" type="button" ng-show="isSafe">Safe</button>
               <button class="btn btn-danger" type="button"  ng-show="isUnsafe">Unsafe</button>
               <button class="btn btn-warning" type="button" ng-show="isError">Error!</button>
               <button class="btn btn-warning" type="button" ng-show="isCrash">Crash!</button>

                 <div style="float:right">
                    <span class="label large" id="sourceName">{{msg}}</span>
                 </div> 
                 
                 <br>
                 <br>
                 
                 <div id="program" style="height: 85%">
                   -- Wait for it ...
                 </div>

              </div>
           </div>
           
           <div class="tab-pane" id="tabQuals">
             <div id="qualifier-pane" class="well" style="background:#fff">
               <!--
               <textarea class="field" id='qualifiers' name='qualifiers' rows='20' cols='80'>
                // Wait for it ... 
               </textarea>
               -->

               <div id="qualifiers" style="height: 90%">
                   // Wait for it ...
               </div>



             </div>
           </div>
           
           <div class="tab-pane" id="tabOut">
             <div ng-show="isSafe" class="alert alert-success">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Safe!</strong> Your program is verified!
             </div>

             <div ng-show="isUnsafe" class="alert alert-error" ng-repeat="warn in warns">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Unsafe!</strong> {{warn}}
             </div>

             <div ng-show="isError" class="alert" ng-repeat="warn in warns">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Unsafe!</strong> {{warn}}
             </div>

             <div class="alert alert-block" ng-show="isCrash">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Crash!</strong> Oh no, there was a crash. See the <a href="log">the log</a>.
             </div>

             <div class="page-header">
               <h1><small> Hover mouse over variables to see inferred types</small></h1>
             </div>
             <div ng-bind-html-unsafe="annotHtml"></div>

             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
           </div>

           <!--
           <div class="tab-pane" id="tabLog">
             Click <a href="log">this</a> to see the log. 
           </div>
           -->

         </div>
       </div> 
     </div>
   </div>
 </div>


<!-- JavaScript below! ============================================== -->
         
<!-- IMPORTANT?
<script src="js/jquery/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap/bootstrap.js"></script>
-->

  <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script> 
  <script src="js/ace/theme-xcode.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/ace/mode-haskell.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="js/tooltip.js"></script> 
  <script src="js/annot.js"></script> 
  <script src="js/liquid.js"></script>
    
  <!--Site Meter -->
  <script type="text/javascript" 
    src="http://s23.sitemeter.com/js/counter.js?site=s23liquidtypes">
  </script>
  <noscript>
    <a href="http://s23.sitemeter.com/stats.asp?site=s23liquidtypes" 
      target="_top">
      <img src="http://s23.sitemeter.com/meter.asp?site=s23liquidtypes" 
      alt="Site Meter" border="0"/></a>
  /</noscript>
  <!-- Copyright (c)2009 Site Meter -->


</body>

</html>
